.main .info{
    height: 70px;
    background-color: #1692c8;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
    color: white;
    text-align: left;
    
}
.main .info h1 {
    font-size: 32px;
    height: 150px;
}
.main .info h2 {
    font-size: 24px;
    font-weight: 400;
}
.main .text{
    margin-top: 20px;
}
.main .text input{
    width: 40%;
    height: 40px;
    border: 2px solid #999;
}
.main .text .btn {
    width: 35%;
    height: 45px;
    margin-left: 39.5%;
    margin-top: 26px;
    border: 0;
    color: #fff;
    background-color: #1692c8;
    font-size: 20px;
    text-align: center;
}
.main .text label {
    display: inline-block;
    width: 20%;
    margin-left: 15%;
    margin-right: 2%;
    text-align: right;
    font-size: 22px;
    font-weight: 700;
    color: #1692c8;
}
.main .text .content {
    width: 40%;
    border: 2px solid #999;
    margin-top: 20px;
}
.main .minititle {
    font-size: 20px;
    font-weight: 700;
    color: #1692c8;
    margin-left: 15%;
    text-align: center;
}
.main .thetable {
    margin-left: 14%;
}
