<a href="/admin/users"> <input class="btn" value="View all users"> </a>

<br> <br>

<a href="/admin/states"> <input class="btn" value="View all states"> </a>

<br> <br>

<a href="/admin/instances"> <input class="btn" value="View all instances"> </a>

<br><br>

<a href="/admin/diagnoses"> <input class="btn" value="View all diagnoses"> </a>

<br><br>

<a href="/"> <input class="btn" value="Sign Out"> </a>


