<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Map</title>
    <link rel="stylesheet" href="../css/common.css">
</head>

<body class="w">
    
    <nav class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
<a href="/admin/users"> <input class="btn" value="View all users"> </a>

<br>

<a href="/admin/states"> <input class="btn" value="View all states"> </a>

<br>
<a href="/admin/diagnoses"> <input class="btn" value="View all diagnoses"> </a>

<br>

<a href="/"> <input class="btn" value="Sign Out"> </a>

<table>
    <thead>
        <th>startDate</th>
        <th>endDate</th>
        <th>userID</th>
        <th>sicknessID</th>
    </thead>
    <tbody>
        {{#each allinstances}}
        <tr>
            <td>{{startDate}}</td>
            <td>{{endDate}}</td>
            <td>{{userID}}</td>
            <td>{{sicknessID}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
