<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Map</title>
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/common.css">
</head>

<body class="w">
    
    <nav class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    
    <div class="main">
        <div class="info">
            <h1>Login</h1>
        </div>
        <div class="text">
            <form id="login" action="/profile" method="post">
            <ul>
            <li>
               <label>Username:</label><input type="text" name="username">
                </li>
                <li>
                <label>Password:</label><input type="text" name="password">
                </li>
<li>
            <input class="btn" type = "submit" value = "Login">
            </li>
            </form>
             <!--<a href="/loggedin">-->
            <!--input class="btn" value="                 Login">-->
     </a>
            <a href="/signup">
            <input class="btn" value="  New User? Sign Up Here">
     </a>
        </div>
    </div>


    <footer class="footer">
    </footer>


</body>

</html>
