<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Map</title>
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="css/common.css">
</head>

<body class="w">
    
    <nav class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    
    <div class="main">
        <div class="info">
            <h1>Sign Up</h1>
        </div>
        <div class="text">
            <form id = "addUser" action = "/signup" method = "post">
            <ul>
            <li>
                    <label>Username:</label> <input type="text" name="username">
            </li>
            <li>
                    <label>Password:</label> <input type="text" name="password">
            </li>
            <li>
                    <label>First Name:</label> <input type="text" name="fname">
            </li>
            <li>
                    <label>Last Name:</label> <input type="text" name="lname">
            </li>
            <li>
                    <label>E-mail:</label> <input type="text" name="email">
            </li>
            <li>
                    <label>State:</label> <select name = "stateID">
                           {{#each states}}
                           <option value = "{{stateID}}"> {{stateID}}</option>
                           {{/each}}
                           </select> 
            </li>
            <li>
                    <label>Current Diagnosis:</label> <select name = "sicknessID">
                           {{#each diagnoses}}
                           <option value = "{{sicknessID}}"> {{diagnosisName}}</option>
                           {{/each}}
                           </select>
            </li>

                    <!--<div id="wrapper">
                     <label for="yes_no_radio">Receive Email Notifications?</label>
                        <p>
                        <input type="radio" name="yes_no" checked>Yes</input>
                        </p>
                            <p>
                        <input type="radio" name="yes_no">No</input>
                        </p>
                            </div>
                     <a href="loggedin.html">-->
            <!--<input class="btn" value="                Submit">-->
            <li>
            <input class="btn" type = "submit" value = "Sign-up">
            </li>
            </form> 
        </div>
    </div>


    <footer class="footer">
    </footer>


</body>

</html>
